<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>274040546517-d5c415d6vpio8i5f8asmems34rfch5h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274040546517-d5c415d6vpio8i5f8asmems34rfch5h3</string>
	<key>API_KEY</key>
	<string>AIzaSyASvx69MIcfo_IjevPL6WJEXaa1uPqkVLI</string>
	<key>GCM_SENDER_ID</key>
	<string>274040546517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jideguru.sampleNotificationApp</string>
	<key>PROJECT_ID</key>
	<string>notification-sample-7f230</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-sample-7f230.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274040546517:ios:b48d6dcc60c9afeb</string>
	<key>DATABASE_URL</key>
	<string>https://notification-sample-7f230.firebaseio.com</string>
</dict>
</plist>